
.custom-background {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("../../assets/wallpaper-1.jpg");
    background-attachment: fixed;
}

.border-animation-false:after {
    display: block;
    content: '';
    border-bottom: solid white 0px !important;
    transition: transform 1s ease-in-out;
    transform: scaleX(0);
}

.border-animation-true:after {
    display: block;
    content: '';
    padding-bottom: 48px;
    border-bottom: solid white 3px !important;
    transition: transform 1s ease-in-out;
    transform: scaleX(1);
}